<h1>Cart items</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @cart_items.each do |cart_item| %>
      <tr>
        <td><%= cart_item.name %></td>
        <td><%= cart_item.price %></td>
        <td><%= button_to cart_path(cart_item.id), method: :delete, class: 'btn'    do %>Remove To Cart</button>
            <% end %>
        </td>
      </tr>  
    <% end %>  
</tbody>     

