<div>
    <%= form.label :category %><br>
    <%= form.select :category_id, Category.pluck(:name, :id), :prompt => 'Select Category' %>
  </div><br>
<h3>
  <% @user.email %> your order is success
</h3>