<h1>Wellcome to ecommers</h1>

<button class="button-63 new_product" role="button">
  <%= link_to "New Product", new_product_path, class: :btn %>
</button>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Poduct name</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <th scope="row"><%= product.id%></th>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
      </tr>  
    <% end %>  
  </tbody>      
