<div  class="home_button">
  <%= button_to root_path, method: :get, class: 'btn' do %>
    <i class="fa fa-home"></i> Home</button>
  <% end %>
</div>
<h2><%= @product.name %></h2>

<p>
  <%= @product.details %>
</p>

<%= link_to "Buy Now", product_path, method: :get%>

