<div  class="home_button">
  <%= button_to root_path, method: :get, class: 'btn' do %>
    <i class="fa fa-home"></i> Home</button>
  <% end %>
</div>
</div>
<div class="show_page">
  <h2><%= @product.name %></h2>
  <p>
    <%= @product.details %>
  </p>

<% if current_user.seller %>
<% else %>

  <% if Product.find(params[:id]).quantity == 0 %>
   <p> Out of stock</p>
  <% else %>
    <div  class="buy_now">
    <%= button_to products_buy_now_path, method: :post, class: 'btn' do %>
      <i class="fa fa-shopping-cart"></i>Buy Now</button>
    <% end %>
    </div>
  <% end %>
<% end %>
</div>